.theme-runtu-content
    p, li
        line-height: 30px
    h1, h2, h3, h4, h5 
        margin-top: 20px
    img 
        max-width: 80%
        display: block
        margin: 32px auto
    li > ul 
        margin-left: 28px;