@require './variables.styl'

* {
  padding: 0;
  margin: 0;
}

html, body {
    @media screen and (min-width: 600px) {
        min-width: 800px;
        overflow-x: hidden;
    }
}

.darkmode-layer {
  z-index: 1;
}

.darkmode-toggle {
  z-index: 114514;  
}

div {
  position: relative;
}

