@require './variables.styl'

html, body {
    @media screen and (min-width: 600px) {
        min-width: 800px;
        overflow-x: hidden;
    }
}

.darkmode-layer, .darkmode-toggle {
  z-index: 1;
}

